<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Define your settings here -->
		<add key="GameDifficulty" value="Hard"/>
	</appSettings>
	<connectionStrings>
		<!-- Define your connection strings here -->
		<add name="MyConnectionString" connectionString="Data Source=myServer;Initial Catalog=myDatabase;User ID=myUsername;Password=myPassword;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
